
.Tilt {
  margin-left: 600px;
  margin-top: 20px;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.head1 {
  margin-left: 630px;
  margin-top: -50px;
  font-size: 40px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tool {
  display: flex;
  gap: 150px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 120px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.one ,.two{
  text-decoration: none;
  color: black;

}

.hr1 {
  width: 1140px;
  border: 1px solid gray;
}

.hava {
  border: 1px solid;
  border-radius: 10px;
  width: 700px;
  height: 450px;
  background-size: cover;
  margin-left: 100px;
  color: white;
}

.first {
  margin-top: 300px;
  margin-left: 50px;
}

.second {
  margin-left: 50px;
  color: rgb(192, 194, 196);
}

.delhi {
  border: 1px solid white;
  border-radius: 10px;
  width: 400px;
  height: 215px;
  background-size: cover;
}

.delhi1 {
  border: 1px solid white;
  border-radius: 10px;
  width: 400px;
  height: 215px;
  background-size: cover;
}

.ud {
  display: flex;

}

.first1 {
  color: white;
  margin-top: 120px;
  margin-left: 50px;
}

.double {
  margin-left: 40px;
}

.new {
  font-size: 20px;
  font-weight: 500;
  margin-left: 100px;
}

.hr2 {
  width: 50px;
  color: red;
  font-size: 50px;
  margin-left: 100px;
  margin-top: -15px;
  border: 1px solid red;

}

.line2 {
  border: 1px solid white;
  border-radius: 5px;
  width: 350px;
  height: 200px;
  background-size: cover;
}



.latest1 {
  display: flex;
  margin-left: 100px;
  gap: 40px;
}

.linehead {
  margin-top: 220px;
}

.Mint {
  font-weight: 600;
}

.Mint1 {
  color: gray;
}

.linehead {
  color: gray;
  font-size: 18px;
}

.linehead1 {
  margin-top: -12px;
  color: gray;
  font-size: 15px;


}

.article {
  margin-top: 200px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 500;
}

.hr3 {
  width: 50px;
  color: red;
  font-size: 50px;
  margin-left: 1px;
  margin-top: -15px;
  border: 1px solid red;
}

.box {
  display: flex;
  gap: 1000px;
  margin-left: 100px;
}

.hr4 {
  border-top: 1px solid gray;
}

.city {
  width: 300px;
  height: 200px;
  border: 1px solid white;
  background-size: cover;
}


.text2 {
  font-size: 25px;
}

.text11 {
  color: gray;

}

.block1,
.block2,
.block3,
.block4 {
  width: 700px;
  height: 200px;
  display: flex;
}

.city1,
.ladakh1,
.coorg1,
.andaman1 {
  width: 300px;
  height: 200px;
  margin-left: 20px;
}

.text21 {
  color: gray;
}

.more {
  display: flex;
  gap: 8px;
  margin-left: 10px;
}

.arrow1 {
  width: 7px;
  height: 12px;
  background-size: cover;
  margin-top: 12px;
  background-image: url(./pics/arrow.png);
}

.arrowtext {
  color: gray;
  font-size: 10px;
}

.guj {
  width: 500px;
  height: 280px;
  border: 1px solid white;
  background-size: cover;
  margin-top: 40px;
}

.gujtext {
  text-align: center;
  color: white;
  margin-top: 180px;

}

.advert {
  width: 250px;
  height: 640px;
  border: 1px solid rgb(196, 192, 192);
}


.boxleft {
  width: 350px;
  position: absolute;
  margin-left: 730px;

}

.adverttext {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 300px;
  font-weight: 600;
}

.toptext {
  font-size: 22px;
  font-weight: 500;
}

.hr5 {
  width: 50px;
  color: red;
  font-size: 50px;
  margin-left: 1px;
  margin-top: -17px;
  border: 1px solid red;
}

.toppost {
  width: 350px;
}

.top1 {
  width: 330px;
  height: 170px;
  border: 1px solid white;
   background-image: url(./pics/agra.jpg); 
  background-size: cover;
}

.top1text {
  margin-top: 165px;

}

.hr6 {
  margin-top: 100px;
  width: 350px;
  margin-left: -10px;
}

.no1 {
  position: absolute;
  margin-left: 300px;
  margin-top: 180px;
  color: rgb(184, 179, 179);
}

.top2 {
  width: 70px;
  height: 50px;
  border: 1px solid white;
  background-image: url(./pics/leh.jpg); 
  background-size: cover;
}

.top2text,.bollytop2text {
  margin-left: 80px;
  margin-top: -50px;
  font-size: 18px;
}

.top2no1,.bollytop2no1 {
  color: rgb(184, 179, 179);
  margin-left: 300px;
  margin-top: -40px;
  position: absolute;
}

.hr7 {
  width: 350px;
  margin-left: -10px;
  margin-top: 50px;
}

.top2Mint {
  margin-top: -10px;
  margin-left: 80px;
  position: absolute;
  font-weight: 500;
  color: gray;
}

.top2Mint1 {
  margin-top: -10px;
  margin-left: 123px;
  position: absolute;

}

.hr8 {
  width: 1140px;
}

.newstory {
  font-size: 22px;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 50px;
}

.bottom {
  display: flex;
  width: 1140px;
  margin: auto;
}

.storie1 {
  font-size: 23px;
  font-weight: 500;
}

.bottom1 {
  width: 300px;
}

.storie2 {
  color: gray;
  font-size: 13px;
}

.storie3 {
  font-size: 11px;
  font-weight: 500;
}

.storie4 {
  font-size: 11px;
  color: gray;

}

.viewmore {
  display: flex;
  gap: 10px;
}

.view {
  margin-top: 30px;
  margin-left: 110px;
  color: gray;
  font-size: 10px;
  display: inline-block;

}

.forwardarrow {
  width: 12px;
  height: 7px;
  margin-top: 12px;
  margin-top: 35px;
  /* background-image: url(./pics/arrow2.png); */
  background-size: contain;


}

/* Bollywood */
.blockz{
  width: 700px;
  height: 200px;
  display: flex;
}
.boxleftbolly{
  width: 350px;
position: absolute;
margin-left: 730px;
}
.bolly{
  font-size: 23px;
  margin-top: -150px;
}
.bollywood1{
  width: 230px;
  height: 150px;
  background-image: url(./pics/bigb.jpg); 
  background-size: cover;
  margin-left: 10px;
}
/* .dilip1,.raj1,.Rajesh1,.Rishi1,.Govinda1,.Amitabh1,.Dharmendra1{
  margin-top: -5px;
} */
/* .dilip2,.raj2,.Rajesh2,.Rishi2,.Govinda2,.Amitabh2,.Dharmendra2{ */
  /* margin-top: -10px;
  color: gray;
} */

.hr47{
  margin-top: -40px;
}
.bollytoptext{
  margin-top: -50px;
  font-size: 24px;
  font-weight: 500;
}

.uri1 {
  width: 330px;
  height: 170px;
  border: 1px solid white;
  background-image: url(./pics/bigb.jpg);
  background-size: cover;
}
.uri2 {
  width: 70px;
  height: 50px;
  border: 1px solid white;
  background-image: url(./pics/kat.jpg);
  background-size: cover;
}

.bollyadvert {
  width: 250px;
  height: 640px;
  margin-top: 50px;
  border: 1px solid rgb(196, 192, 192);
}

/* /technology/ */

.tt {
  width: 330px;
  height: 170px;
  border: 1px solid white;
  background-image: url(./pics/auto.jpg);
  background-size: cover;
}

/* /Hollywood/ */

.Av1{
  width: 330px;
  height: 170px;
  border: 1px solid white;
  background-image: url(./pics/cp.jpg);
  background-size: cover;
}


/* /fitness/ */

.Fitness{
  width: 330px;
  height: 170px;
  border: 1px solid rgb(162, 42, 42);
  background-image: url(./pics/fitt2.jpg);
  background-size: cover;
}

/* /food/ */

.food{
  width: 330px;
  height: 170px;
  border: 1px solid rgb(166, 22, 22);
  background-image: url(./pics/rice.jpg);
  background-size: cover;
}
/* /about/ */
.Tilt1 {
  margin-top: 20px;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.head2 {
  margin-left: 20px;
  margin-top: -38px;
  font-size: 30px;

}
.abt{
  padding: 0 50px;
  margin: 30px;
  box-shadow: 1px 2px 2px 1px rgb(202, 201, 201);
  display: flex;
  justify-content: space-between;
}
.get{
  border: 2px solid rgb(4, 151, 78);
  width: 90px;
  color: rgb(4, 151, 78);
  padding: 5px;
  font-weight: 500;
}
.content{
  width: 500px;
  margin:auto;
  /* border: 1px solid red; */
}
.abouttext{
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}
.image2{
  width: 500px;
  height: 300px;
  
}
.image3{
  width: 500px;
}
.body{
  display: flex;
  justify-content: space-between;
}
.title1{
  margin-top: 25px;
  padding-left: 10px;
  position: absolute;
  font-size: 15px;
}
.title2{
  margin-top: -30px;
  margin-left: 85px;
  position: absolute;
  color: rgb(197, 197, 197);
  font-size: 10px;
}
.body1,.body12{
  /* margin: 5px; */
  color: gray;
  font-size: 20px;
  padding: 10px;
}
.body11{
  padding:2px;
}
.small{
  display: flex;
  gap: 10px;
  margin-left: 20px;
  margin-top: 20px;
}
.small1{
  border: 1px solid rgb(218, 217, 217);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 70px;
  height: 20px;
  color: rgb(177, 175, 175);
  background-color: rgb(218, 217, 217);
}
.clap{
  display: flex;
}
.image4{
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 20px;

}
.clap2{
  color: rgb(167, 165, 165);
  margin-top: 22px;
  margin-left: 10px;
  font-size: 12px;
}
.man{
  display: flex;
}
.man2{
  font-size: 10px;
  margin-left: 20px;
}
.mantext1{
  color: rgb(167, 165, 165);

}
.mantext2{
  font-weight: 600;
}
.bottombox{
  background-color: rgb(240, 233, 233);
  width: 1180px;
  margin: auto;
  position: relative;
}
.bottomhr{
  width: 1100px;
}
.bottomtext{
  margin-left: 50px;
  padding-top: 20px;
}

.bottomimage2{
  border-radius: 5px;
  width: 350px;
  height: 200px;
  background-size: cover;
}
.bottom3{
  display: flex;
}
.bottom2{
  font-size: 12px;
}
.bottom2text1{
  color: rgb(167, 165, 165);
  margin-left: 20px;

}
.bottom2text{
  margin-left: 20px;

}
.bottomimage1{
  margin: 20px;
}
.bottomimage1text{
  color: rgb(167, 165, 165);
font-size: 17px;
}

.bottomdown{
  display: flex;
}
.des{
  font-size: 14px;
}
.side{
  width: 200px;
  position: fixed;
  margin-top:-1700px;
  margin-left: 150px;
  z-index: -1;
}
.sideclap{
  margin-left: 20px;
  margin-top: 10px;
  position: absolute;
  color: rgb(167, 165, 165);
}
.sideart{
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  color: rgb(167, 165, 165);

}
.sideimg2{
  margin-top: 30px;
}
.backarrow{
  position: absolute;
  margin-top: -1930px;
  margin-left: 70px;
  font-size: 30px;
}
.backarrow1{
  color: gray;

}


.nav-btn{
  font-size: 25px;
  position: absolute;
  margin-left: 400px;
  margin-top: -270px;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background:transparent;
  visibility: hidden;
  /* opacity: 1; */
}
 @media(max-width:480px){
  .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  .tool{
    position: relative;
    top:0;
    left: 0;
    height: 35%;
    width:100%;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.0rem;
    transition: 1s;
    transform: translateY(-100vh);
    background-color: rgb(121, 121, 212);
  }
  .responsive_nav{
    transform: none;
  }
  .nav-close-btn{
    position: absolute;
    margin-top: -180px;
    margin-left: 450px;
    font-size: 15px;
  }

  .cross{
    margin-left: 40px;
    font-size: 15px;
  }
  .head1{
    margin-left: 65px;
    font-size: 30px;
    margin-top: -38px;
  }
  .hr1{
    width: 450px;
    position: absolute;
    margin-top: -220px;
    margin-left: 10px;
    border: 0.2px solid rgb(207, 207, 207);
  }
  
  .jaipur{
    width: 400px;
    height: 400px;
    margin-left: 40px;
    padding-bottom: 20px;
  }
  .ud{
    flex-wrap: wrap;
    gap: 50px;
    margin-top: -200px;
  }
  .latest1{
    flex-wrap: wrap;
    margin-left:70px;
    gap: 180px;
  }
  .new,.hr2{
    margin-left: 50px;
  }
  .new1,.hr3{
    margin-left: -50px;
  }
  .hr4{
    width: 400px;
    margin-left: -50px;
  }
  .manali{
    width: 200px;
    height: 100px;
    margin-left: -50px;
  }
  .text2{
    margin-top: -5px;
    font-size: 15px;
  }
  .text21{
    font-size: 10px;
    width: 200px;
  }
  .Mint{
    font-size: 10px;
  }
  .block1{
    width: 500px;
    height: 100px;
  }
  .arrowtext{
    margin-left: -60px;
    position: absolute;
  }
  .arrow1{
    transform: rotateZ(270deg);
    margin-left: 10px;
  }
  .guj{
    margin-left: -60px;
    width: 400px;
    height: 200px;
  }
  .gujtext{
    margin-top: 130px;
  }
  .toptext,.hr5{
    margin-left: -30px;
  }
  .advert{
    visibility: hidden;
  }
  .boxleft{
    margin-left: -30px;
    margin-top: 100px;
  }
  .newstory{
    margin-top: 850px;
    margin-left: 50px;
  }
  .top1{
    height: 200px;
  }
  .top1text{
    margin-top: 200px;
  }
  .no1,.top2no1,.bollytop2no1{
    visibility: hidden;
  }
  .top2{
    width: 150px;
    height: 110px;
  }
  .top2text{
    width: 200px;
    margin-left: 160px ;
    margin-top: -110px;
  }
  .bollytop2text{
    width: 200px;
    margin-left: 160px ;
    margin-top: -90px;
  }
  .top2Mint{
    margin-left: 160px;
  }
  
  .hr7{
    margin-top: 80px;
  }
  .hr8{
    width: 390px;
    
  }
  .hr10{
    visibility: hidden;
  }
  .bottom{
    flex-direction: column;
  }
  .bottom1{
    margin-left: 50px;
  }
  .view{
    margin-left: 45px;
    margin-top: 10px;
  }
  .forwardarrow{
    margin-top: 15px;
  }
  /* /Bollywood/ */
  .bolly{
    margin-left: -50px;
  margin-top: -400px;

  }
 .blockz{
  margin-left:-50px
 }
 .bollywood1{
  width: 150px;
  height: 110px;
 }
 .dilip1{
  font-size: 15px;
 }
 .dilip2{
  width: 200px;
  font-size: 12px;
 }
.hr47{
  width: 400px;
  margin-left:-40px ;
  margin-top: -70px;
}
.boxleftbolly{
  margin-left: -50px;
  margin-top: 1090px;
}
.hr5{
  margin-left: 6px;
}
.bollyadvert,.no1{
  visibility: hidden;
}
.uri1,.tt,.Av1,.fitness,.food{
  width: 360px;
  height: 180px;
}
.uri2{
  width: 150px;
  height: 100px;
}
.hr6{
  margin-top: 110px;
}
.body12{
  width: 120px;
}
.image3{
  width: 450px;
}
.bottomhr{
  width: 400px;
  margin-left: 30px;
}

.bottomdown{
  flex-direction: column;
  margin-left: 30px;
}
.backarrow{
   margin-left: 220px;
   margin-top: -2815px;
}
.des{
  width: 450px;
  margin-left: 10px;
}

}  